@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bodyContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 77px;
    margin-top: 19px;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

select {
    padding: 10px;
    outline: none;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 0.5px;
    width: 240px;
    transition: 0.3s ease;
}

select:hover{
    cursor: pointer;
    transform: scale(1.05);
}
@media only screen and (max-width: 600px) {
  .bodyContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    margin: auto;
}
.button2 {
    width: 120px;
}

.button1 {
    width: 140px;
}
}
