@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bodyContainer {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 77px;
    margin-top: 19px;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
    .bodyContainer {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
        margin: auto;
    }
    .button2 {
        width: 120px;
    }
    .button1 {
        width: 140px;
    }
    .move {
        white-space: nowrap;
        animation: showup 4s infinite;
    }
}